@import url('https://fonts.googleapis.com/css?family=Hind');

/* This is the intro splash screen */
.intro {
	max-width: 800px; 
	font-size: 12px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	position: fixed;
	top: 30px;
	left: 0;
	right: 0;
	background-color: #ffecdc;
	z-index: 3;
	opacity: 0.98;
	font-family: 'Hind', sans-serif;
	box-shadow: 5px 10px 8px #888888;
}

.intro h1 {
	font-size:20px;
}

.intro p {
	font-size: 12px;
}

.intro ul li {
	font-size: 11px;	
}

/* Main Page General Variables */
.mainpage {
	margin: 10px;
	background-color:white;
}

/* The main page title */
.maintitle h1 {
	font-family: 'Hind', sans-serif;
	padding: 10px 0px 0px 0px;
	margin: 0px;
}

.maintitle h2 {
	font-family: 'Hind', sans-serif;
	padding: 0px 0px 5px 0px;
	margin: 0px;
}

/* Slider */

.playbackbox {	
	position: fixed;
	width: 600px;
	height: 110px;
	bottom: 0;
	left: 0;
	background-color: #ffecdc;
	color: black;
	border: 1px solid black;
	font-family: 'Hind', sans-serif;
	font-size: 10px;
	padding: 5px;
	box-shadow: 2px -2px 4px #888888;
}

.slider {
    width: 500px;
    height: 10px;
    color: blue;
    border-radius: 2px;
    margin: 5px 5px 5px 0px;
    outline: none;
    opacity: 0.7;
    /*transition: opacity .2s;*/
}

.slidertext {
	width: 100px;
	vertical-align: middle;
	margin: 5px 0px 0px 5px;
}
.slidertext p {
	vertical-align: middle;
	margin: 0px;
}

/* Lilypond */
.lilypond {
	margin: 0px 10px 0px 0px;
}

.currentorderbox {
	display: flex;
	flex-direction: row;
	width: 100%;
	margin-bottom:2px;
	margin-left: 5px;
}

.userorderbox {
	display: flex; 
	flex-direction: row;
	width: 100%;
	margin-bottom:2px;
	margin-left: 5px;
}

.boxnames {
	width: 100px;
	font-size: 10px;
	vertical-align: middle;
}

.middlebox {width: 340px}
.endbox {width: 150px;}

.generationbutton {
	margin-top:5px;
	display: flex;
	flex-direction:row;
	font-size:10px;
}

.arraytext {
	margin: 0px 0px 0px 5px;
	vertical-align: top;
}

.arraytext p {
	margin: 0px;
	vertical-align: top;
}